*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: inline-block;
    text-align: center;
    width: 95%;
    height: 100%;
    margin: 20px;
    background-color:rgb(58, 86, 81);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
 .what{
    font-size: 50px;
    text-align: center;
    color: gold;
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main div{
display: inline-block;
text-align: center;
width: 200px;
height: 200px;
background-color:gold;
margin-top: 50px;
}
.Designer{
font-size: 20px;    
 color: gray;
 text-align: center;
 padding-top: 40px;
}
.Designer1{
    font-size: 17px;    
 color: black;
 text-align: left;
 padding-top: 30px;
 padding-left: 20px;
}
.fa{
    font-size: 5em;
    transform: scale(4);
    padding-top: 10px;
  }
  .Designer2{
    font-size: 20px;    
     color: gray;
     text-align: center;
     padding-top: 40px;
    }
    .Designer3{
        font-size: 17px;    
     color: black;
     text-align: left;
     padding-top: 30px;
     padding-left: 20px;
    }
    .fa{
        font-size: 5em;
        transform: scale(4);
        padding-top: 10px;
      }
      .left:hover{
        transform: scale(1.3);
      }
      .right:hover{
       transform: scale(1.3);
      }
  